package {{ .PackageName }}

import (
	"context"

	"github.com/inigolabs/fezzik/client"
)

{{ $root := . }}

{{- range $operation := .Operations }}


// {{$operation.Name}}Response response type for {{$operation.Name}}
type {{ $operation.Name }}Response struct 
{{ $operation.ResponseType }}

// {{$operation.Name}} from {{ $operation.Source }}
{{- if len $operation.Inputs }}
func (c *gqlclient) {{ $operation.Name }}(ctx context.Context, 
	{{- range $val := $operation.Inputs }}
		{{ camel $val.Name }} {{ $val.Type}}, 
	{{- end }}	
	) (*{{ $operation.Name }}Response, error) {
{{- else }}
func (c *gqlclient) {{ $operation.Name }}(ctx context.Context) (*{{ $operation.Name }}Response, error) {
{{ end }}

	var {{ camel $operation.Name }}Operation string = `
	{{ $operation.Operation }}`

	gqlreq := &client.GQLRequest{
		OperationName: "{{ $operation.Name}}",
		Query: {{ camel $operation.Name }}Operation,
		Variables: map[string]interface{}{
			{{- range $val := $operation.Inputs }}	
			"{{ $val.Name }}" : {{ camel $val.Name }},
			{{- end }}
		},
	}

	var gqldata {{ $operation.Name }}Response
	var gqlerrs client.GQLErrors
	err := c.gql.Query(ctx, gqlreq, &gqldata, &gqlerrs)
	if err != nil {
		return nil, err
	}
	if len(gqlerrs) == 0 {
		return &gqldata, nil
	}
	return &gqldata, &gqlerrs
}

{{- end }}
